.header {
  background: #CAC8D2;
  padding-top: 15px;
}

.header .inner-menu a {
  color: #0B392E;
}

/* Section One */
.section-one {
  background: #CAC8D2;
  padding-bottom: 50px;
  padding-top: 15px
}

.section-one .image {
  position: relative;
}

.section-one .image .logo {
  width: 100px;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: -45px;
  left: -16px;
}

/* .section-one .image::before {
  content: "";
} */

.section-one .image img {
  max-width: 100%;
}

.section-one .image .banner img {
  height: 900px;
}

.section-one .image-text {
  color: #0B392E;
}

.section-one .image-text .title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
}

.section-one .image-text .brand {
 font-size: 250px;
 font-weight: 700;
 letter-spacing: 15px; 
 text-align: center;
 line-height: 180px;
 padding-bottom: 30px;
 margin-top: 30px;
}

.section-one .col-6 .button {
  display: inline-block;
  background: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
}

.section-one .col-6 .button:hover {
  background: yellow;
  color: #0B392E;
  border: 2px solid;
  transition-duration: 0.8s;
}

.section-one .container-1 .inner-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* End Section One */

/* Section Two */
.section-two {
  background:  #0B392E;
}

.section-two .container-1 {
  padding: 60px 0;
  text-align: center;
}

.section-two .container-1 .inner-text {
  color: #F8B9CA;
  font-size: 25px;
  font-weight: 500;
}
/* End Section Two */

/* Section Three */
.section-three {
  margin-top: 80px;
}

.section-three .container-1 {
  padding: 0;
}

.section-three .container-1 .row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.section-three .inner-image-one .inner-image-two{
  width: 100%;
}

.section-three img {
  width: 100%;
}

.section-three .inner-text {
  text-align: center;
  color: #0B392E;
  font-size: 50px;
  font-weight: 700;
}
/* Section Three */

/* Section Four */
.section-four .container-1 {
  padding: 0;
  margin-top: 80px;
}

.section-four .row {
  flex-direction: column;
}

.section-four .inner-text {
  text-align: center;
}

.section-four .products-list {
  display: flex;

}

.section-four .products-list img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.section-four .inner-text .inner-text-1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-four .inner-text .inner-text-2 {
  font-size: 28px;
  text-decoration: underline;
  font-weight: 500;
}

.section-four .inner-desc {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-top: 10px;
}
/* Section Four */

/* Section Five */
.section-five {
  margin-top: 100px;
}

.section-five .container-1 {
  padding: 0;
}

.section-five .inner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0c3a2f;
}

.section-five .inner-text .inner-brand {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.section-five .inner-text .inner-men {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section-five .inner-text .inner-desc {
  font-size: 26px;
  font-weight: 480;
  text-decoration: underline;
}

.section-five .inner-image img {
  width: 100%;
}
/* End Section Five */

/* Section Six */
.section-six .container-1 {
  padding: 0;
}

.section-six .inner-image img {
  width: 100%;
}

.section-six .inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-six .inner-content .inner-text {
  text-align: center;
}

.section-six .inner-content .inner-text .inner-title {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section-six .inner-content .inner-text .inner-desc {
  font-size: 26px;
  font-weight: 480;
  text-decoration: underline;
  margin-bottom: 60px;
}

.section-six .inner-image-2 img {
  max-height: 630px;
  width: auto;
}

.section-six .inner-image-2::after {
  content: "\f061";
  font-family: FontAwesome;
  position: absolute;
  right: -50px;
  font-size: 35px;
}

.section-six .inner-image-2::before {
  content: "\f060";
  font-family: FontAwesome;
  position: absolute;
  left: -50px;
  font-size: 35px;
}

.section-six .inner-image-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-six .inner-image-2 .inner-name {
  font-size: 23px;
  font-weight: 600;
  margin-top: 50px;
}
/* End Section Six */